body {background-color: rgb(14, 11, 35);} 
.num {color: rgb(255, 176, 116);} 
.string {color: rgb(154, 255, 113);} 
.keyword {color: rgb(205, 111, 255);} 
.comment {color: rgb(123, 123, 123);} 
.palabraClave {color: rgb(0, 136, 105);} 
.loop {color: pink;} 
.caracter {color: rgb(100, 252, 255);} 
.caracter2 {color: rgb(86, 100, 255);} 
.funcion {color: rgb(25, 44, 255);} 
.variable {color: rgb(255, 63, 130);} 
.operacion {color: rgb(237, 255, 118);} 
.otro {color: white;}