body {background-color: rgb(14, 11, 35);}
.num {color: rgb(255, 176, 116);}
.string {color: rgb(154, 255, 113);}
.keyword {color: rgb(205, 111, 255);}
.comment {color: rgb(123, 123, 123);}
.loop {color: pink;}
.otro {color: white;}
.extra {color: rgb(100, 252, 255);}
.extra2 {color: rgb(86, 100, 255);}
.funcion rgb(103, 116, 255);}